## Q1: Print numbers 1 to 10 using for loop

In [1]:
# Q1 Solution
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Q2: Print numbers 20 to 1 using while loop

In [2]:
# Q2 Solution
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## Q3: Print even numbers from 1 to 10

In [3]:
# Q3 Solution
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## Q4: Print numbers from 1 to n

In [4]:
# Q4 Solution
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i)

Enter a number:  3

1
2
3

## Q5: Print odd numbers from 1 to n

In [5]:
# Q5 Solution
n = int(input("Enter a number: "))
for i in range(1, n+1):
    if i % 2 != 0:
        print(i)

Enter a number:  6

1
3
5

## Q6: Print 'Happy Birthday!' five times

In [6]:
# Q6 Solution
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

## Q7: First n terms of square series

In [7]:
# Q7 Solution
n = int(input("Enter a number: "))
print("The first", n, "terms of the series are:")
for i in range(1, n+1):
    print(i*i, end=" ")

Enter a number:  34

The first 34 terms of the series are:
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156

## Q8: Multiplication table

In [8]:
# Q8 Solution
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

Enter a number:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## Q9: First 8 terms of arithmetic progression (start=3, diff=4)

In [9]:
# Q9 Solution
a = 3
d = 4
for i in range(8):
    print(a + i*d, end=" ")

3 7 11 15 19 23 27 31

## Q10: First 6 terms of geometric sequence (start=2, ratio=3)

In [10]:
# Q10 Solution
a = 2
r = 3
for i in range(6):
    print(a * (r**i), end=" ")

2 6 18 54 162 486

## Q11: Sum of integers from 1 to n

In [11]:
# Q11 Solution
n = int(input("Enter a number: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum =", total)

Enter a number:  3

Sum = 6

## Q12: Sum of reciprocals 1 to N

In [12]:
# Q12 Solution
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n+1):
    total += 1/i
print("The sum of reciprocals from 1 to", n, "is:", round(total, 2))

Enter a positive integer:  4

The sum of reciprocals from 1 to 4 is: 2.08

## Q13: Running total of 5 numbers

In [13]:
# Q13 Solution
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print("The final running total is:", total)

Enter a number:  5
Enter a number:  2
Enter a number:  4
Enter a number:  2
Enter a number:  2

The final running total is: 15

## Q14: Factorial of a number

In [14]:
# Q14 Solution
n = int(input("Enter a positive integer: "))
if n < 0:
    print("Factorial does not exist for negative numbers")
elif n == 0:
    print("Factorial of 0 is 1")
else:
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print("Factorial of", n, "is", fact)

Enter a positive integer:  2

Factorial of 2 is 2

## Q15: Power calculation without ** operator

In [15]:
# Q15 Solution
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))

result = 1

if exp >= 0:
    for i in range(exp):
        result *= base
else:
    for i in range(-exp):
        result *= base
    result = 1/result

print(base, "raised to power", exp, "is:", result)

Enter base:  2
Enter exponent:  4

2 raised to power 4 is: 16